<div class="table_form">
  <%= form_for @tag do |f| %>
    <dl>
      <dt>Name</dt>
      <dd>
        <%= f.text_field :name %>
      </dd>
    </dl>
    <%= f.submit button_text %>
  <% end %>
</div>
